# -*- Mode: YAML; indent-tabs-mode: nil; fill-column: 96; -*-

---

galaxy_info:
  author: Thierry Delamare
  description: "{{ vagrant_description }}"
  company: EpiConcept
  license: MIT
  min_ansible_version: 1.8
  platforms:
  - name: Debian
    versions:
    - wheezy
  categories:
  - system
dependencies: []

